<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>用户中心</title>
		<link href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" title="" rel="stylesheet" />
		<link title="" href="/static/css/style.css" rel="stylesheet" type="text/css"  />
		<link title="blue" href="/static/css/dermadefault.css" rel="stylesheet" type="text/css"/>
		<link title="green" href="/static/css/dermagreen.css" rel="stylesheet" type="text/css" disabled="disabled"/>
		<link title="orange" href="/static/css/dermaorange.css" rel="stylesheet" type="text/css" disabled="disabled"/>
		<link href="/static/css/templatecss.css" rel="stylesheet" title="" type="text/css" />
		<script src="/static/script/jquery-1.11.1.min.js" type="text/javascript"></script>
		<script src="/static/script/jquery.cookie.js" type="text/javascript"></script>
		<script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="info-center">
				<div class="page-header">
					<div class="pull-left">
						<h4>系统首页</h4>
					</div>
				</div>
				<div class="indentify-class padding-lr">
					<p class="margin-big-tb text-sub text-default">
						欢迎使用皮皮博客管理系统1.0
					</p>
					<ul class="class-content">
						<!-- <li class="pull-left margin-large-35">
							<a class="class-detail pull-right " href="#">
								<div class="class-detail-top">
									<div class="text-center indentify-icon">
										<img src="/static/img/identify_personal.png">
									</div>
									<h3 class="text-center">小红书</h3>
									<p class="margin-tb padding-bottom text-justify info">
										昨日经营一览
									</p>
									<ul class="class-detail-has margin-top text-lh-big">
										<li>
											<span class="text-black-gray">商品总数</span>
											<span class="pull-right text-gray-white">1000</span>
										</li>
										<li>
											<span class="text-black-gray">新增商品数</span>
											<span class="pull-right text-gray-white">1000</span>
										</li>
										<li>
											<span class="text-black-gray">订单数</span>
											<span class="pull-right text-gray-white">1000</span>
										</li>
										<li>
											<span class="text-black-gray">销售额</span>
											<span class="pull-right text-gray-white">100000.00</span>
										</li>
									</ul>
								</div>
								<p class="continue text-big">
									继续加油！
								</p>
							</a>
						</li> -->
						<!-- <li class="pull-left margin-large-35">
								<a class="class-detail pull-right " href="#">
										<div class="class-detail-top">
												<div class="text-center indentify-icon">
														<img src="img/identify_enterprise.png">
												</div>
												<h3 class="text-center">企业认证</h3>
												<p class="margin-tb padding-bottom text-justify info">
														用于企事业单位认证，认证通过可获得短信模板自定义及认证用户特权
												</p>
												<ul class="class-detail-has margin-top text-lh-big">
														<li>
															<span class="text-black-gray">自定义短信条数</span>
															<span class="pull-right text-gray-white">10条</span>
														</li>
														<li>
															<span class="text-black-gray">云市场认证优惠</span>
															<span class="pull-right text-gray-white">有</span>
														</li>
														<li>
															<span class="text-black-gray">企业认证勋章</span>
															<span class="pull-right text-gray-white">有</span>
														</li>
														<li>
															<span class="text-black-gray">免费400电话(含800元话费)</span>
															<span class="pull-right text-gray-white">有</span>
														</li>
												</ul>
										</div>
										<p class="continue text-big">
												选择并继续使用
										</p>
								</a>
						</li>
						<li class="pull-left">
								<a class="class-detail pull-right disabled" href="#">
										<div class="class-detail-top">
												<div class="text-center indentify-icon">
														<img src="img/identify_developer.png">
												</div>
												<h3 class="text-center">服务商认证</h3>
												<p class="margin-tb padding-bottom text-justify info">
														服务商认证需先通过个人或企业认证，认证服务商可以入驻云市场，通过某某云市场销售获得报酬
												</p>
												<ul class="class-detail-has margin-top text-lh-big">
														<li>
															<span class="text-black-gray">服务商认证勋章</span>
															<span class="pull-right text-gray-white">有</span>
														</li>
														<li>
															<span class="text-black-gray">云市场插件销售</span>
															<span class="pull-right text-gray-white">有</span>
														</li>
														<li>
															<span class="text-black-gray">云市场模板销售</span>
															<span class="pull-right text-gray-white">有</span>
														</li>
														<li>
															<span class="text-black-gray">云市场模块销售</span>
															<span class="pull-right text-gray-white">有</span>
														</li>
												</ul>
										</div>
										<p class="continue text-big">
												即将推出
										</p>
								</a>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
