<link rel="stylesheet" type="text/css" href="/static/css/search.css?v=<?=$version?>">
<div class="search-box row">
	<div class="col-md-8">
		<div class="btn-group pull-left" role="group" aria-label="...">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal"><span class="glyphicon glyphicon-plus-sign "></span> 新增标签</button>
		</div>
	</div>
	<form class="form-horizontal" method="post" id="_CustomizedQueryForm" role="form" action="javascript:void(0);">
		<div class="col-md-4">
			<div class="col-lg-12 pull-right">
			    <div class="input-group input-sm">
			      <input type="text" class="form-control input-sm" id="ad_name" name="tag_name|like" placeholder="标签名称">
			      <span class="input-group-btn">
			        <button class="btn btn-default input-sm" type="button" id="_CustomizedQueryFormSubmit"><span class="glyphicon glyphicon-search"></span>搜索</button>
		           
			      </span>
			    </div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div>
		
	</form>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="form_add">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">标签名称</label>
                        <div class="col-sm-6">
						   <input type="text"  class="form-control input-sm" placeholder="" id="tag_name" name="tag_name"/>
                        </div>
                        <div class="col-sm-3">
						    
                        </div>
                    </div>

                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit_button">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑标签</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="form_edit">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="">标签名称</label>
                        <div class="col-sm-6">
                           <input type="text"  class="form-control input-sm" placeholder="" id="tag_name" name="tag_name"/>
                        </div>
                        <div class="col-sm-3">
                            
                        </div>
                    </div>
                   <input type="hidden" name="id" value="0">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit_edit_button">提交</button>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" id='edit' style="display: none" data-toggle="modal" data-target="#editModal">触发模态框</button>
<script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$('#submit_button').on('click',function(){
		var data = $('form[name=form_add]').serialize();
		ajaxRequest({'data':data},'/admin/tags/save_tags','submit_button','POST',2);
	});

	$('#submit_edit_button').on('click',function(){
		var data = $('form[name=form_edit]').serialize();
		ajaxRequest({'data':data},'/admin/tags/save_tags','submit_edit_button','POST',2);
	});

	//编辑商品
	function edit_data_to_form(id)
	{
		$.ajax({
            type: "POST",
            url: "get_detail",
            data: {id:id},
            dataType: 'json',
            success: function(data) {
            	var fields = ['id','tag_name'];
            	$.each(fields,function(k,v){
            		$('form[name=form_edit]').find('input[name='+v+']').val(data['data'][0][v]);
            	});
            }
        });  
	}
	

</script>




