<style type="text/css">
	.copyright{
		border: 1px solid #ccc;
		background: #efefef;
		display: block;
		padding: 15px;
	}
</style>
<section class="container single">
	<div class="content-wrap">
		<div class="content">
  			<header class="article-header">
				<h1 class="article-title">
					<a href="<?=$config['host']?>/<?=$content['id']?>" title="<?=$content['title']?>" ><?=$content['title']?></a>
				</h1>
				<div class="article-meta">
					<span class="item article-meta-time">
	  					<time class="time" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="发表时间：<?php echo date('Y-m-d',$content['add_time']);?>"><i class="glyphicon glyphicon-time"></i> <?php echo date('Y-m-d',$content['add_time']);?></time>
	  				</span>
	  				<span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="来源：<?=$content['from']?>"><i class="glyphicon glyphicon-globe"></i> <?=$content['from']?></span> <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<?=$page_info['cate_name']?>"><i class="glyphicon glyphicon-list"></i> <a href="#" title="<?=$page_info['cate_name']?>" ><?=$page_info['cate_name']?></a></span> <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="浏览量：<?=$content['hits']?>"><i class="glyphicon glyphicon-eye-open"></i> <?=$content['hits']?></span> <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="评论量"><i class="glyphicon glyphicon-comment"></i> <?=$comments?></span> 
	  			</div>
			</header>
	  		<article class="article-content">
				<!-- <p>
					<img data-original="<?=$content['img_src']?>" src="<?=$content['img_src']?>" alt="" />
				</p> -->
				<p>
					<?=$content['content']?>		
				</p>
				
				<?php if($content['is_original']==1):?>
				<div class="copyright">
					题目：<a href="<?=$config['host']?>/<?=$content['id']?>" title="<?=$content['title']?>" ><?=$content['title']?></a><br/>
					作者：<?=$config['web_name']?><br/>
					出处：<a href="<?=$config['host']?>/<?=$content['id']?>"><?=$config['host']?>/<?=$content['id']?></a><br/>
					<?=$config['copyright']?>
				</div>
				<?php endif;?>
			
	  		</article>


  			<div class="article-tags">标签：
  				<?php foreach($tag as $k=>$t): ?>
  					<a href="/tag/<?=$k?>" rel="tag" ><?=$t?></a>
  				<?php endforeach; ?>
			</div>
  			<div class="relates">
				<div class="title">
					<h3>相关推荐</h3>
				</div>
				<ul>
					<?php foreach($relation as $c): ?>
						<li><a href="/<?=$c['id']?>" title="<?=$c['title']?>" ><?=$c['title']?></a></li>
					<?php endforeach; ?>
				</ul>
			</div>
			<div class="title" id="comment">
				<h3>评论</h3>
			</div>

			<div>
				<div id="SOHUCS" sid="<?=$config['host']?>/<?=$content['id']?>" ></div> 

					<!--PC版-->
					<!-- <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
					<script type="text/javascript">
					window.changyan.api.config({
					appid: 'cythWaX9C',
					conf: 'prod_234dd15686a274b2eab95f5eb53d495f'
					});
					</script> -->

				</div>
			</div>
	</div>

	<aside class="sidebar">
	<div class="fixed">
	  <div class="widget widget-tabs">
		<div class="widget widget_sentence">
			<h3>关于我</h3>
			<div class="widget-sentence-content">
				<?php if(isset($ad['index_right_2'])):?>
					<?=$ad['index_right_2']?>
				<?php endif;?>
			</div>
		</div>
	  </div>
	  <div class="widget widget_search">
		<form class="navbar-form" action="/Search" method="post">
		  <div class="input-group">
			<input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
			<span class="input-group-btn">
			<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
			</span> </div>
		</form>
	  </div>
	</div>
	<div class="widget widget_sentence">
		<div id="tagbox">
			<?php foreach($tags as $t=>$tg): ?> 
				<a href="/tag/<?=$tg['tag_id']?>"><?=$tg['tag_name']?></a>
			<?php endforeach; ?>
		</div>
	</div>
	<div class="widget widget_hot">
		  <h3>热门文章</h3>
		  <ul>  
		  		<?php foreach($comment as $c_kk=>$c_art): ?>         
				<li><a title="" href="/<?=$c_art['id']?>" >
				<!-- <span class="thumbnail">
					<img class="thumb" data-original="<?php echo $c_art['img_src'] ? $c_art['img_src'] : '/static/img/default.png'; ?>" src="<?php echo $c_art['img_src'] ? $c_art['img_src'] : '/static/img/default.png'; ?>" alt="<?=$c_art['title']?>"  style="display: block;">
				</span> -->
				<span class="text"><?=$c_art['title']?></span>
				<span class="muted"><i class="glyphicon glyphicon-time"></i>
					<?php echo date('Y-m-d',$c_art['add_time']);?>
				</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i><?=$c_art['hits']?></span></a></li>
				<?php endforeach; ?>
		  </ul>
	 </div>
	<div class="widget widget_sentence">    
		<?php if(isset($ad['index_right_3'])):?>
			<?=$ad['index_right_3']?>
		<?php endif;?>    
	</div>
	<div class="widget widget_sentence">    
		<?php if(isset($ad['index_right_4'])):?>
			<?=$ad['index_right_4']?>
		<?php endif;?>     
	</div>
	
	</aside>
</section>